<!DOCTYPE html>
@model VET_ANIMAL.WEB.Models.FichasControlViewModel
@{
    ViewData["Title"] = "HISTORIAL";
}
<div class="myLoader2" id="cargasgeneral" hidden>
    <div class="loader2">
        <span></span>
        <span></span>
        <span></span>
        <h2>Cargando....</h2>
    </div>
</div>
<html lang="en">
<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
    <div class="container" style="border: outset 3px">
        <h2 class="mb-3" style="color: black; font-weight: bold; font-size: 2.2em;font-family: 'Young Serif', sans-serif;">HISTORIA CLINICA </h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-4 border-0" style="border-radius: 15px; background: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%); box-shadow: 10px 10px 15px 10px #888888;">


                        <form style="color: black;font-family: 'Young Serif', sans-serif;">
                            <div class="mb-3">
                                <label for="CI" class="form-label">Cédula del Cliente</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="CI" placeholder="Ingrese Cédula" onkeypress="return solo10Numeros(event)" required>
                                    <button class="btn btn-primary" type="button" onclick="buscarCliente2()"><i class="bi bi-search"></i></button>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="cedCliente" class="form-label">Cliente</label>
                                <input type="text" class="form-control" id="cedCliente" readonly style="color: red;">
                            </div>

                            <div class="mb-3">
                                <label for="petDropdown" class="form-label">Mascota</label>
                                <select class="form-select" id="petDropdown" readonly style="color: blue;">
                                    <!-- Opciones de mascotas -->
                                </select>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" style="display: flex; border-bottom: 1px solid #eee; flex: 1; align-items: center; justify-content: center;">
                        <button class="btn btn-primary btn-lg btn-block" onclick="mostrarFormulario('formulario1')" style="width: 100%; padding: 0.6rem 1rem; border: none;justify-content: center;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            DATOS CLIENTE
                            <span style="content: '\0000a0'; display: inline-block; height: 30px; width: 30px; margin-left: 10px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA/0lEQVRIie3UsUoDURAF0JMgFqlSphBsrEVB+xT+hpAPEP2ElKkF/8AqP5DKIrUW2sdCwSJNxFYUtdi3Gp67+zbRKuTCsOzbOzN37g6PNVYejZLzIxxjC0+4xNV/NGjiHCcF3Auc4QMtHAR+FabxQQ+fFdELvNMEL49ZPMEt9ioU3WH/LxO8JRS9Jgr+QqzgOcF/WbTBRvQ+8uNzEUbh2UW/Rv2HeIK+At8CpnNFU96Xoo2hYv+H4fvS2MGkpHgek8CrjXxN27ipmXyPQ9kPb8rWtVXC/bZ7kFAexyDk7SZ4swY28YhODfXzyrbxnpogX9PxEg3I7qXrBfLWWEV8AfLaXMb/Tf+aAAAAAElFTkSuQmCC') no-repeat left center transparent; background-size: 100% 100%;"></span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="m-2" style="margin-top: 2%;font-family: 'Young Serif', sans-serif; ">

                                <div class="form-group col-md-12">
                                    <label for="nombreCliente">Nombres</label>
                                    <input type="text" style="color: blue;font-size: 14px;" id="nombreCliente" class="form-control" readonly />
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="dirCliente">Dirección</label>
                                    <input type="text" style="color: blue;font-size: 14px;" id="dirCliente" class="form-control" readonly />
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="correoCliente">Correo</label>
                                    <input type="text" onkeypress="return validarCorreoElectronico(event)" style="color: blue;font-size: 14px;" id="correoCliente" class="form-control" required readonly />
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="telefono">Teléfono</label>
                                    <input type="text" onkeypress="return solo10Numeros(event)" style="color: blue;font-size: 14px;" id="telefono" class="form-control" readonly />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" style="display: flex; border-bottom: 1px solid #eee; flex: 1; align-items: center; justify-content: center;">
                        <button class="btn btn-secondary btn-lg btn-block" onclick="mostrarFormulario('formulario2')" style="width: 100%; padding: 0.6rem 1rem; border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            DATOS MASCOTA
                            <span style="content: '\0000a0'; display: inline-block; height: 30px; width: 30px; margin-left: 10px; background: url('data:image /png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABKUlEQVRIic3UMUoDQRTG8Z+riKQQC7FUa6sUFiIewcIDWFqIlVewsPQAKT2FJxAJHsDCyiKNbciKBInFzkoIM5tZEtEHj919+977z5tvGP6ZFW0LVlvkdvCCNTy1BeUCRpjgLHx3AnDpgM/wPsIA18sGxPymqbjAY/CUkDHAEY4xnon/9Kn3r8BBaLKN98ypCnENuthAOR18CPR7bEWK1jGcWek4svoJXkV24lDzHndVo6f+Z+lxojohsaI7nOJrTvMBdlKAppPyoRL0IpEzRA+7qebzAHWTc+zjFs/o4xKbTY1zAbX3caXSpdX9lAuofRRqktb6dmxr8y6qMhFvXHUuoMReBNLBWy4kZ4LUFFn26xr8icjlzDNmOTlgJRKbFi/nFC2k0cL2DT10iPGMuib/AAAAAElFTkSuQmCC' ) no-repeat left center transparent;background-size: 100% 100%"></span>

                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class=" mt-2" style=" margin-top: 2%;font-family: 'Young Serif', sans-serif; ">

                                <div class="form-group col-md-12">
                                    <label for="">Nombre</label>
                                    <input type="text" style="color: blue;font-size: 16px;" class="form-control" id="editNombre2" readonly>
                                </div>
                                <br>
                                <div class="form-group col-md-12">
                                    <label for="">Dueño</label>
                                    <input id="editdueño22" type="text" class="form-control mb-3" style="width:100%!important; color: red" readonly>
                                </div>
                                <div class="form-group col-md-12" hidden>
                                    <label for="">idmasc</label>
                                    <input id="idmasc2" type="text" class="form-control mb-3" style="width:100%!important; color: red" readonly>
                                </div>
                                <br>
                                <div class="form-group col-md-12">
                                    <label for="">Peso</label>
                                    <input type="text" style="color: blue;font-size: 16px;" class="form-control" id="editPeso2" readonly onkeypress="return soloNumeros(event)" required>
                                </div>
                                <br>
                                <div class="form-group col-md-6">
                                    <label for="">Raza</label>
                                    <select readonly class="form-control" id="editRaza2" style="color: blue;font-size: 16px;" required>
                                        <option value="">Seleccione</option>
                                        <option value="Labrador">Labrador</option>
                                        <option value="Bulldog">Bulldog</option>
                                        <option value="Mestizo">Mestizo</option>
                                        <option value="Chihuahua">Chihuahua</option>
                                        <option value="French">French</option>
                                        <option value="Golden Retriever">Golden Retriever</option>
                                        <option value="Pitbull">Pitbull</option>
                                    </select>
                                </div>

                                <br>
                                <div class="form-group col-md-6">
                                    <label for="">Sexo</label>
                                    <select class="form-control" id="editSexo2" style="color: blue;font-size: 16px;" readonly required>
                                        <option value="">Seleccione</option>
                                        <option value="Macho">Macho</option>
                                        <option value="Hembra">Hembra</option>
                                    </select>
                                </div>
                                <br>

                                <div class="form-group col-md-6">
                                    <label for="">Fecha de Nacimiento</label>
                                    <input style="color: blue;font-size: 16px;" class="form-control" id="editFecha2" name="editFecha2" readonly max="2024-12-31" type="text">
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" style="display: flex; border-bottom: 1px solid #eee; flex: 1; align-items: center; justify-content: center;">
                    <button class="btn btn-success btn-lg btn-block" onclick="mostrarFormulario('formulario3')" style="width: 100%; padding: 0.6rem 1rem; border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        FICHAS CONSULTAS
                        <span style="content: '\0000a0'; display: inline-block; height: 30px; width: 30px; margin-left: 10px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABdklEQVRIiaXVsUscQRTH8c9JCMFKLIxYWEmwsAwpAilioQQkSAQr+/wBIpYSrELIf2GqqMVVCsE0FhapVYJWwhEsjggWkkIs7l0493bcOfcHA7Pz3vt9Z3aXNw35eomlmO/gV05RI9N8CD/D9Bav8DbmtQGfMIUXmI+1ffzGGTYGAUzgc2HtfZj8wOtYO8RcwJuF/HW0UsBpnONDz7jAZEnuZMR6c8/D47+elBT+1Tn+13geSe0mYh9jvhq191QGgNEoXsU3fMe/Qs5TtLEZmxktM0oBxG4O8Q7PEjk3OA5QqR4CdHWckZPUUEbOos7HKxuLVcU5J9jDUSLW91EfA7jBn4y8UuW8omVcJcZyVXHOCbaxm4hV9qIcwLDEP67ze17XBczq709drevvRQMDmlUmdQFjCg2sR6e4rAuYwVoi9gUHdQEHVSaPBYxjJdNnYlBAS6c9vMkEHEncYmWAMSzgJNO8q4WofRDQxhaeD2je1ZbC3XAHx/9Lk31lTtEAAAAASUVORK5CYII=') no-repeat left center transparent; background-size: 100% 100%;"></span>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="" style="font-family: 'Young Serif', sans-serif; ">


                            <div class="card text-center mt-5" style="width: 100%; padding: 0.6rem 1rem; border: none;justify-content: center;">
                                <div class="card-header" style="background: aqua; color: black; font-weight: bold; font-size: 1.2em;font-family: 'Young Serif', sans-serif;">
                                    FICHAS CONTROL
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive" style="font-family: 'Young Serif', sans-serif; ">
                                        <table class="table table-bordered table-sm tablaMascotas dataTable table-striped" id="tablaMascotas">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Cod.
                                                    </th>
                                                    <th>
                                                        Historia Clinica
                                                    </th>
                                                    <th>
                                                        Motivo Consulta
                                                    </th>
                                                    <th>
                                                        Peso
                                                    </th>
                                                    <th>
                                                        Observacion
                                                    </th>
                                                    <th>
                                                        Fecha
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>
                                    </div>


                                </div>
                                <div class="card-footer text-muted">
                                </div>
                            </div>



                            <div class="card text-center mt-5" style="width: 100%; padding: 0.6rem 1rem; border: none;justify-content: center;">
                                <div class="card-header" style="background: aqua; color: black; font-weight: bold; font-size: 1.2em;font-family: 'Young Serif', sans-serif;">
                                    FICHAS HEMOPARASITOSIS
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" style="font-family: 'Young Serif', sans-serif;">
                                        <table class="table table-bordered table-sm  dataTable table-striped" id="tablaFichasHemo">
                                            <thead>
                                                <tr>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Cod.
                                                    </th>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Historia Clinica
                                                    </th>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Motivo Consulta
                                                    </th>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Diagnostico
                                                    </th>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Tratamiento
                                                    </th>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Observacion
                                                    </th>
                                                    <th style="background: #021D5D; color: white;font-size: 14px;font-family: 'Young Serif', sans-serif;">
                                                        Fecha
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function mostrarFormulario(formulario) {
            var container = $('#formularioContainer' + formulario.charAt(formulario.length - 1));

            // Toggle la visibilidad del formulario
            container.slideToggle();


        }



        function buscarCliente2() {

            console.log("Iniciando función buscarCliente2");

            // Obtener el valor del input de cédula
            var identificacion = $("#CI").val();

            // Verificar si el campo de cédula está vacío
            if (identificacion.trim() === "") {
                // Mostrar un Sweet Alert pidiendo al usuario que ingrese un número de identificación
                Swal.fire({
                    icon: 'error',
                    title: 'Ingrese un número de identificación',
                    showConfirmButton: false,
                    timer: 1500
                });
                return; // Salir de la función si el campo está vacío
            }

            document.getElementById("cargasgeneral").hidden = false;

            console.log("Cédula del cliente:", identificacion);
            setTimeout(function () {
                $.ajax({
                    url: '/HistoriaClinica/BuscarClientePorCI',
                    method: 'GET',
                    data: { CI: identificacion },
                    contentType: 'application/json',
                    success: function (data) {
                        console.log("Datos del cliente:", data);

                        // Verifica si se está ejecutando y muestra los datos en la consola


                        // Si la respuesta indica que no se encontró ningún cliente
                        if (data.mensaje === 'Error al obtener la lista de clientes. Código de estado: NoContent') {
                            // Mostrar un Sweet Alert indicando que el cliente no está registrado
                            Swal.fire({
                                icon: 'error',
                                title: 'Cliente no registrado',
                                text: 'El número de identificación no se encuentra en la base de datos',
                                confirmButtonText: 'OK'
                            });
                            // Limpiar el valor del campo de entrada
                            $("#CI").val("");
                            $("#cedCliente").val("");
                            return; // Salir de la función
                        }



                        // Asegúrate de que los identificadores coincidan con los elementos HTML reales
                        $("#nombreCliente").val(data.nombres);
                        $("#dirCliente").val(data.direccion);
                        $("#correoCliente").val(data.correo);
                        $("#telefono").val(data.telefono);
                        $("#cedCliente").val(data.nombres);
                        $("#editdueño22").val(data.nombres);// Cambiado a data.cedula si es el nombre del cliente

                    },
                    error: function (error) {
                        document.getElementById("cargasgeneral").hidden = true;
                        // Manejar errores
                        console.error("Error en la solicitud AJAX: ", error);
                        // Imprime el mensaje de error en la consola para facilitar la depuración
                        console.error('Error en la solicitud AJAX:', error);
                    },
                    complete: function () {
                        // Ocultar el loader
                        document.getElementById("cargasgeneral").hidden = true;
                        console.log("Finalizando función buscarCliente2");
                    }
                });
            }, 2000); // 10 segundos en milisegundos

            console.log("Finalizando función buscarCliente2");

            var identificacion = $("#CI").val();
            $.ajax({
                url: '/HistoriaClinica/BuscarMascotaPorCI',
                method: 'GET',
                data: { CI: identificacion },
                contentType: 'application/json',
                success: function (data) {

                    var dropdown = $("#petDropdown");
                    dropdown.empty(); // Clear existing options

                    // Agrega la opción por defecto "Seleccione"
                    dropdown.append($('<option></option>').val('').html('Seleccione'));

                    // Populate the dropdown with pet names
                    data.forEach(function (pet) {
                        dropdown.append($('<option></option>').val(pet.idMascota).html(pet.nombreMascota));
                    });


                    // Verifica si se está ejecutando y muestra los datos en la consola
                    console.log("Datos MASCOTAAAA:", data);
                    $("#petDropdown").off().change(function () {
                        var selectedPetId = $(this).val();

                        // Find the selected pet in the data array
                        var selectedPet = data.find(function (pet) {
                            return pet.idMascota == selectedPetId;
                        });
                        var longId = parseInt(selectedPet.idMascota); // Assuming it's an integer
                        // Fill the form with the selected pet's details
                        $("#editNombre2").val(selectedPet.nombreMascota);
                        $("#editPeso2").val(selectedPet.peso);
                        $("#editRaza2").val(selectedPet.raza);
                        $("#editSexo2").val(selectedPet.sexo);
                        $("#idmasc2").val(longId);
                        // Verificar si la fecha de nacimiento es válida
                        if (selectedPet.fechaNacimiento) {
                            const fechaNacimiento = new Date(selectedPet.fechaNacimiento);

                            // Verificar si la fecha es válida
                            if (!isNaN(fechaNacimiento.getTime())) {
                                // Formatear la fecha a 'YYYY-MM-DD' para asignarla al input
                                const fechaFormateada = fechaNacimiento.toISOString().split('T')[0];
                                $("#editFecha2").val(fechaFormateada);
                                console.log("Fecha de nacimiento en el modal:", fechaFormateada);
                            } else {
                                console.error('Fecha de nacimiento no válida:', selectedPet.fechaNacimiento);
                            }
                        } else {
                            console.error('La mascota seleccionada no tiene fecha de nacimiento.');
                        }

                        $.ajax({
                            url: '/HistoriaClinica/BuscarFichasControlById',
                            method: 'GET',
                            data: { CI: longId },
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("aquiii historial", data)

                                // Obtén la referencia del cuerpo de la tabla
                                var tableBody = $("#tablaMascotas tbody");

                                // Limpiar filas existentes
                                tableBody.empty();

                                if (data && data.fichasControl && data.fichasControl.length > 0) {
                                    // Iterar sobre las fichas de control y agregar filas al cuerpo de la tabla
                                    data.fichasControl.forEach(function (fichaControl) {
                                        var row = $("<tr>");
                                        row.append($("<td>").text(fichaControl.codigoFichaControl));
                                        row.append($("<td>").text(data.idHistoriaClinica));
                                        row.append($("<td>").text(fichaControl.motivo));
                                        row.append($("<td>").text(fichaControl.peso));
                                        row.append($("<td>").text(fichaControl.observacion));
                                        // Manipula la cadena de fecha para mostrar solo la fecha
                                        var fechaPartes = fichaControl.fecha.split('T');
                                        var fechaSolo = fechaPartes[0];
                                        row.append($("<td>").text(fechaSolo));
                                        tableBody.append(row);
                                    });
                                } else {
                                    console.log("No hay fichas de control para mostrar.");
                                }


                            },
                            error: function (error) {
                                // Imprime el mensaje de error en la consola para facilitar la depuración
                                console.error('Error en la solicitud AJAX:', error);
                            }
                        });

                        $.ajax({
                            url: '/HistoriaClinica/BuscarFichasHemoById',
                            method: 'GET',
                            data: { CI: longId },
                            contentType: 'application/json',
                            success: function (content) {
                                console.log("aquiii Hemoooooooo", content)

                                // Obtén la referencia del cuerpo de la tabla
                                var tableBody = $("#tablaFichasHemo tbody");

                                // Limpiar filas existentes
                                tableBody.empty();

                                if (content && content.fichasHemoparasitosis && content.fichasHemoparasitosis.length > 0) {
                                    // Iterar sobre las fichas de control y agregar filas al cuerpo de la tabla
                                    content.fichasHemoparasitosis.forEach(function (fichasHemoparasitosis) {
                                        var row = $("<tr>");
                                        row.append($("<td>").text(fichasHemoparasitosis.codigoFichaHemo).css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));
                                        row.append($("<td>").text(content.idHistoriaClinica).css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));
                                        row.append($("<td>").text("EMERGENCIA").css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));
                                        row.append($("<td>").text(fichasHemoparasitosis.enfermedad).css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));
                                        row.append($("<td>").text(fichasHemoparasitosis.tratamiento).css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));
                                        row.append($("<td>").text(fichasHemoparasitosis.observaciones).css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));

                                        // Formatea la fecha
                                        var fecha = new Date(fichasHemoparasitosis.fecha);
                                        var fechaFormateada = fecha.toLocaleDateString(); // Puedes ajustar el formato según tus preferencias

                                        row.append($("<td>").text(fechaFormateada).css({ "font-size": "14px", "font-family": "'Young Serif', sans-serif" }));

                                        // Agrega la fila al cuerpo de la tabla
                                        tableBody.append(row);
                                    });
                                } else {
                                    console.log("No hay fichas de control para mostrar.");
                                }


                            },
                            error: function (error) {
                                // Imprime el mensaje de error en la consola para facilitar la depuración
                                console.error('Error en la solicitud AJAX:', error);
                            }
                        });

                        console.log("Finalizando función buscarCliente2");

                    });



                },
                error: function (error) {
                    // Imprime el mensaje de error en la consola para facilitar la depuración
                    console.error('Error en la solicitud AJAX:', error);
                }
            });

            console.log("Finalizando función buscarCliente2");

            var idMascota = $("#idmasc2").val();


        }




    </script>

</body>
</html>