<!DOCTYPE html>

<html lang="es-pa">
    <head>
        <meta charset="utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>CSS LOADER</title>
        <link rel="stylesheet" href="loader.css" />
    </head>
    <body>  
        <div class="container">
            <div class="ring" > </div>
            <div class="ring" > </div>
            <div class="ring" > </div>
        </div>
    </body>
</html>