@model VET_ANIMAL.WEB.Models.Login
<section class="vh-90 login login-tm">
    <div class="container-fluid h-custom">
        <h1 id="letrero" class="navbar-brand mt-3" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: 'Alfa Slab One', cursive; font-size: 28px; font-weight: bold;color: black;">
            Clinica Veterinaria Animal Place
        </h1>
        <div class="row d-flex justify-content-center align-items-center h-90">
            <div class="col-md-9 col-lg-6 col-xl-5">
                
               
                
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" >

              
                <!-- Email input -->
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <h2 class="active"> Iniciar </h2>
                    <h2 class="inactive underlineHover">Registrarse </h2>

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="https://palmaafricana.excancrigru.es/Archivos//imagenes/logoVet.png" id="icon" alt="User Icon" />
                    </div>

                    <!-- Login Form -->
                    <form asp-action="Index">
                      
                        <div class="form-outline mb-4">
                            <input type="email" id="login" asp-for="@Model.User" class="form-control form-control-lg fadeIn second"
                                   placeholder="Ingrese un usuario/correo válido" />

                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="password" asp-for="@Model.Password" class="form-control form-control-lg fadeIn third"
                                   placeholder="Ingrese la contraseña" />
                        </div>

                        

                        <div class="text-center mb-3">
                            <button type="submit" value="submit" style="background: #F68F7B; color: black; font-weight: bold; " class="btn btn-lg fadeIn fourth" asp-action="Index">
                                Iniciar
                            </button>
                        </div>
                    </form>

                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <a class="underlineHover" >Olvidó su Contraseña?</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>