﻿
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="https://apps.telenews.com.ec:9038/Contratistas/Archivos//css/main.css">
    <link rel="stylesheet" type="text/css" href="https://apps.telenews.com.ec:9038/Contratistas/Archivos//css/fondocuadrados.css">
    <link rel="stylesheet" type="text/css" href="https://apps.telenews.com.ec:9038/Contratistas/Archivos//css/card2.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
</head>
<body>


    <!-- Modal cARAGA MASIVA-->
    <div class="modal fade mt-5" id="masivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lm">
            <div class="modal-content">
                <div class="modal-header TMSHeaderModal" style="background: #DAE8FD">
                    <div class="d-flex align-items-end flex-column">
                        <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <!-- Añade estas clases -->
                        <div class="cards">
                            <div class="card red">
                                <p class="tip">Diagnósticos Comprobados</p>
                                <p id="totalfrotis" class="second-text"></p>
                            </div>
                            <div class="card blue">
                                <p class="tip">Resultados Acertados</p>
                                <p id="aciertofrotis" class="second-text"></p>
                            </div>
                            <div class="card green">
                                <p class="tip">Resultados Erróneos</p>
                                <p id="errorfrotis" class="second-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="cards mt-5" hidden>
                        <div class="card beige" style="width:100%!important; height: 100%!important">
                            <p class="tip" style="color: blue; font-size: 18px; font-weight: bold;">Fórmula de Efectividad</p>
                            <p id="errorfrotis" class="" style="color: black; font-size: 16px; font-weight: bold;">
                                Resultados Acertados <br>
                                (-) Restamos <br>
                                Diagnósticos Comprobados <br>
                                (*) Multiplicamos por 100 "Tamaño de la muestra"
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="m-3">
        <div class="app-title">
            <div>
                <h1 id="letrerob"><i class=" bi bi-speedometer2"></i> DASHBOARD COMPROBACIÓN ALGORITMO</h1>

            </div>

        </div>
        <div class="row mt-5 justify-content-center">

            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon">
                    <i class="icon bi bi-bug-fill"></i>
                    <div class="info">
                        <h4>DIAGNÓSTICO ALGORITMO</h4>
                        <p id="algo"><b></b></p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon">
                    <i class="icon bi bi-virus2"></i>
                    <div class="info">
                        <h4>DIAGNÓSTICO FROTIS</h4>
                        <p id="frotis"><b></b></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">

            <div class="col-md-6">
                <div class="tile">
                    <h3 class="tile-title">Casos diagnósticados</h3>
                    <div class="ratio ratio-16x9">
                        <div id="supportRequestChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="tile">
                    <h3 class="tile-title"></h3>
                    <div class="card2">
                        <div class="header">Efectividad del Algoritmo</div>
                        <svg class="App-logo" viewBox="0 0 841.9 595.3" xmlns="http://www.w3.org/2000/svg"><g fill="#61DAFB"><path d="M666.3 296.5c0-32.5-40.7-63.3-103.1-82.4 14.4-63.6 8-114.2-20.2-130.4-6.5-3.8-14.1-5.6-22.4-5.6v22.3c4.6 0 8.3.9 11.4 2.6 13.6 7.8 19.5 37.5 14.9 75.7-1.1 9.4-2.9 19.3-5.1 29.4-19.6-4.8-41-8.5-63.5-10.9-13.5-18.5-27.5-35.3-41.6-50 32.6-30.3 63.2-46.9 84-46.9V78c-27.5 0-63.5 19.6-99.9 53.6-36.4-33.8-72.4-53.2-99.9-53.2v22.3c20.7 0 51.4 16.5 84 46.6-14 14.7-28 31.4-41.3 49.9-22.6 2.4-44 6.1-63.6 11-2.3-10-4-19.7-5.2-29-4.7-38.2 1.1-67.9 14.6-75.8 3-1.8 6.9-2.6 11.5-2.6V78.5c-8.4 0-16 1.8-22.6 5.6-28.1 16.2-34.4 66.7-19.9 130.1-62.2 19.2-102.7 49.9-102.7 82.3 0 32.5 40.7 63.3 103.1 82.4-14.4 63.6-8 114.2 20.2 130.4 6.5 3.8 14.1 5.6 22.5 5.6 27.5 0 63.5-19.6 99.9-53.6 36.4 33.8 72.4 53.2 99.9 53.2 8.4 0 16-1.8 22.6-5.6 28.1-16.2 34.4-66.7 19.9-130.1 62-19.1 102.5-49.9 102.5-82.3zm-130.2-66.7c-3.7 12.9-8.3 26.2-13.5 39.5-4.1-8-8.4-16-13.1-24-4.6-8-9.5-15.8-14.4-23.4 14.2 2.1 27.9 4.7 41 7.9zm-45.8 106.5c-7.8 13.5-15.8 26.3-24.1 38.2-14.9 1.3-30 2-45.2 2-15.1 0-30.2-.7-45-1.9-8.3-11.9-16.4-24.6-24.2-38-7.6-13.1-14.5-26.4-20.8-39.8 6.2-13.4 13.2-26.8 20.7-39.9 7.8-13.5 15.8-26.3 24.1-38.2 14.9-1.3 30-2 45.2-2 15.1 0 30.2.7 45 1.9 8.3 11.9 16.4 24.6 24.2 38 7.6 13.1 14.5 26.4 20.8 39.8-6.3 13.4-13.2 26.8-20.7 39.9zm32.3-13c5.4 13.4 10 26.8 13.8 39.8-13.1 3.2-26.9 5.9-41.2 8 4.9-7.7 9.8-15.6 14.4-23.7 4.6-8 8.9-16.1 13-24.1zM421.2 430c-9.3-9.6-18.6-20.3-27.8-32 9 .4 18.2.7 27.5.7 9.4 0 18.7-.2 27.8-.7-9 11.7-18.3 22.4-27.5 32zm-74.4-58.9c-14.2-2.1-27.9-4.7-41-7.9 3.7-12.9 8.3-26.2 13.5-39.5 4.1 8 8.4 16 13.1 24 4.7 8 9.5 15.8 14.4 23.4zM420.7 163c9.3 9.6 18.6 20.3 27.8 32-9-.4-18.2-.7-27.5-.7-9.4 0-18.7.2-27.8.7 9-11.7 18.3-22.4 27.5-32zm-74 58.9c-4.9 7.7-9.8 15.6-14.4 23.7-4.6 8-8.9 16-13 24-5.4-13.4-10-26.8-13.8-39.8 13.1-3.1 26.9-5.8 41.2-7.9zm-90.5 125.2c-35.4-15.1-58.3-34.9-58.3-50.6 0-15.7 22.9-35.6 58.3-50.6 8.6-3.7 18-7 27.7-10.1 5.7 19.6 13.2 40 22.5 60.9-9.2 20.8-16.6 41.1-22.2 60.6-9.9-3.1-19.3-6.5-28-10.2zM310 490c-13.6-7.8-19.5-37.5-14.9-75.7 1.1-9.4 2.9-19.3 5.1-29.4 19.6 4.8 41 8.5 63.5 10.9 13.5 18.5 27.5 35.3 41.6 50-32.6 30.3-63.2 46.9-84 46.9-4.5-.1-8.3-1-11.3-2.7zm237.2-76.2c4.7 38.2-1.1 67.9-14.6 75.8-3 1.8-6.9 2.6-11.5 2.6-20.7 0-51.4-16.5-84-46.6 14-14.7 28-31.4 41.3-49.9 22.6-2.4 44-6.1 63.6-11 2.3 10.1 4.1 19.8 5.2 29.1zm38.5-66.7c-8.6 3.7-18 7-27.7 10.1-5.7-19.6-13.2-40-22.5-60.9 9.2-20.8 16.6-41.1 22.2-60.6 9.9 3.1 19.3 6.5 28.1 10.2 35.4 15.1 58.3 34.9 58.3 50.6-.1 15.7-23 35.6-58.4 50.6zM320.8 78.4z"></path><circle r="45.7" cy="296.5" cx="420.9"></circle><path d="M520.5 78.1z"></path></g></svg>
                        <div id="puntaje" style="font-size: 40px!important;" class="header"></div>
                        <button class="App-button" data-bs-toggle="modal" data-bs-target="#masivo">Ver más </button>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ObtenerResultadosComparativos();
        });
        function ObtenerResultadosComparativos() {
            $.ajax({
                url: '/Testing/ResultadosComparativos',
                method: 'GET',
                data: {},
                contentType: 'application/json',
                success: function (content) {
                    console.log("aquiii Comparacion", content)
                    // Calcula el porcentaje de efectividad
                    var efectividad = (content.resultadoAcertado / content.totalRegistros) * 100;

                    // Actualiza el contenido del div con el id "puntaje"
                    $('#puntaje').text(efectividad.toFixed(2) + '%');
                    $('#totalfrotis').text(content.totalRegistros);
                    $('#aciertofrotis').text(content.resultadoAcertado);
                    $('#errorfrotis').text(content.resultadoErroneo);


                },
                error: function (error) {
                    // Imprime el mensaje de error en la consola para facilitar la depuración
                    console.error('Error en la solicitud AJAX:', error);
                }
            });
        }

        $(document).ready(function () {
            ejecutarFuncionInicial();
        });

        function ejecutarFuncionInicial() {

            $.ajax({
                url: '/Testing/Examenes',
                method: 'GET',

                contentType: 'application/json',
                success: function (data) {
                    console.log('Respuesta exitosa:', data);

                    // Asignar los valores de diagnóstico algoritmo y frotis a los elementos HTML
                    $("#algo").text(data.diagnosticoAlgoritmo);
                    $("#frotis").text(data.diagnosticoFrotis);

                    var myChart = echarts.init(document.getElementById('supportRequestChart'));

                    // Datos para el gráfico de pastel
                    var pieData = [
                        { name: 'Diagnóstico Algoritmo', value: data.diagnosticoAlgoritmo },
                        { name: 'Diagnóstico Frotis', value: data.diagnosticoFrotis }
                    ];

                    // Configuración del gráfico
                    var option = {
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}: {c} '
                        },
                        legend: {
                            orient: 'vertical',
                            left: 10,
                            data: ['Diagnóstico Algoritmo', 'Diagnóstico Frotis']
                        },
                        series: [
                            {
                                name: 'Diagnóstico',
                                type: 'pie',
                                radius: ['60%', '40%'],
                                avoidLabelOverlap: false,
                                label: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    label: {
                                        show: true,
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                },
                                labelLine: {
                                    show: false
                                },
                                data: pieData
                            }
                        ]
                    };

                    // Aplicar la opción al gráfico
                    myChart.setOption(option);


                },
                error: function (xhr, textStatus, errorThrown) {
                    // Manejar errores de la solicitud
                    console.error('Error en la solicitud:', errorThrown);
                }
            });
        }









    </script>
    <!-- Google analytics script-->
    <script type="text/javascript">
        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
</body>
</html>


